@using BlackKiwi.CodeDiffViewer.FileHelpers
@model BlackKiwi.CodeDiffViewer.FileHelpers.FormattedDiff

@{
    ViewBag.Title = "BlackKiwi | Diff Viwer";
}

<style>
    table { table-layout: fixed; }

    .table tbody > tr > td {
        border: none;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        white-space: pre;
        word-wrap: break-word;
    }
  
</style>
<form action="~/Home/UploadFile" enctype="multipart/form-data" method="post">
    <input type="file" name="Image">
    <input type="submit" value="Save">
</form>
<fieldset>
    <legend></legend>
</fieldset>


<div class="row">
    @foreach (FormattedFile file in Model.Files)
    {
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">@file.Filename</h3>
            </div>
                
            <div class="panel-body">
                <table class="table">
            
           
                    @foreach (FormattedLine line in file.Lines)
                    {
                        <tr>
                            @if (line is AddedLine)
                            {
                                <td class="success">@line.Displayline</td>
                            }
                            else if (line is RemovedLine)
                            {
                                <td class="danger">@line.Displayline</td>
                            }
                            else if (line is UnchangedLine)
                            {
                                <td class="">@line.Displayline</td>
                            }
                            else
                            {
                                //header
                            }
                   
                        </tr>
                    }
                </table>
            </div>
             
        </div>
    }
</div>